@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You can register or login by clicking on the right-top buttons</p>
    <p>Game code is available at view/Game/play</p>
</div>
